# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="SOS-JF"

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:3000"
SECRET_KEY=123
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=123

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
